.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text {
    color: var(--text-color);
    font-size: 31px;
    font-weight: 400;
    text-align: center;
}